@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body{
  margin: 0px;
}
header{
  margin: 0px;
  padding: 20px;
  background-color: #553492;
  height: 50px;
}

header svg{
  color: white;
  font-size: 30px;
}


/*  sidebar */
.sidebar{
  width: 270px;
  background:#553492 ;
  position: absolute;
  height: 100%;
  position: -webkit-sticky;
  left: 0px;
  backdrop-filter: blur(1000px);
  transition: all 1s;
  
  opacity: 0.95;

}

.sidebar div{
  opacity: 0.33;
}

.sidebar.active{
  left: -300px;
  transition: all 1s; 
}

 ul {
  list-style-type: none;
  margin-top: 10px;
  padding: 0px;
}

li {
  list-style: none;
  margin: 10px;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  border-radius: 10px;
  padding: 5px 20px;
  display: block;
}
ul li a{
  transition: all 500ms;
}
 ul li a:hover,
 ul li a.active {
  background: #47316e;
  padding: 5px;
  transition: all 500ms;
}

/*  sidebar */

/* List group */
.list {

  margin-left: 20px;
}

.list.litable{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.list thead th{

  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
/* List group */